.jumbotron {
    background-image: url(headerImage.JPG);
    background-repeat: no-repeat;
    height: 500px;
    background-position: bottom;
    background-size: cover;
    background-color: whitesmoke;
}

h1.tim-Header {
    text-align: left;
    font-size: 72px;
    font-family: 'Istok Web', sans-serif;
    color: whitesmoke;
}

small.tim-Header {
    text-align: left;
    font-size: 40px;
    font-family: 'Istok Web', sans-serif;
    color: whitesmoke;
    opacity: .9;
}

h3.tim-Projects,
p.tim-Projects {
    text-align: center;
}

.page-header {
    text-align: center;
}


.card {
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

li.list-group-item {
    text-align: center;
}

.footer {
    right: 0;
}

.col-sm-6 {
    padding: 10px;
}

@media (max-width: 600px) {
    h1.tim-Header {
        text-align: left;
        font-size: 48px;
        font-family: 'Istok Web', sans-serif;
        color: whitesmoke;
    }

    small.tim-Header {
        text-align: left;
        font-size: 20px;
        font-family: 'Istok Web', sans-serif;
        color: whitesmoke;
        opacity: .9;
    }
}


/*Resume Specific Styles*/

.resume {
    background-color: #efefef;
    padding-top: 2px;
    padding-bottom: 2px;
}

li {
    padding: 2px;
}

li.bigList {
    font-size: 20px;
}

h1.resume {
    text-align: center;
}

h2.resume {
    text-align: center;
}

h3.resume {
    text-align: center;
}

a.resume {
    text-decoration: underline;
    color: black;
}
